body {
    font-family: "Bungee Hairline", system-ui;
    font-weight: 900;
    font-style: normal;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px;
    overflow: hidden; /* Prevent scrolling */
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-color: #000; /* Fallback background color */
}

.container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.box {
    background-color: rgba(0, 0, 0, 0.45);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #ffffff;
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#countdown {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.number {
    color: #ffffff;
}

.label {
    color: #b0b0b0;
}

#time-left {
    font-size: 1.2rem;
}

/* Responsive adjustments */
@media (min-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }

    #countdown {
        font-size: 2.5rem;
    }

    #time-left {
        font-size: 1.5rem;
    }
}
